# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/

# Django migrations (optional)
**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

# Environment variables
.env

# IDEs and editors
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and coverage reports
*.log
coverage/
htmlcov/

# Compiled code and packages
*.egg-info/
.eggs/
*.egg
build/
dist/
